<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>bundleid</key>
	<string>com.sherifabdlnaby.alfred-aws-granted</string>
	<key>category</key>
	<string>Tools</string>
	<key>connections</key>
	<dict>
		<key>0D0E2E6C-8D38-41A4-941A-622234DABD2D</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>C0A9E5D9-BFB2-448B-8FB7-85BD6BC0B4E1</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>2176B3B9-B2FF-4135-9BE0-513BCA51B8E3</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>85AC20BC-D51E-46AC-8ABD-E0DB823D7C81</string>
				<key>modifiers</key>
				<integer>524288</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>0D0E2E6C-8D38-41A4-941A-622234DABD2D</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>F8975ED8-010C-454A-ACA7-486DF520DEE8</string>
				<key>modifiers</key>
				<integer>1048576</integer>
				<key>modifiersubtext</key>
				<string>Open Console Directly</string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>2C99F6F1-EF16-4CF1-9762-5D05A1FFAA4D</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>BCF9D88B-14B0-4B42-AE3C-411695BDC870</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string>Select Service</string>
				<key>vitoclose</key>
				<false/>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>CE892C23-EC9A-412D-902E-E20666251003</string>
				<key>modifiers</key>
				<integer>1048576</integer>
				<key>modifiersubtext</key>
				<string>Open Console Home</string>
				<key>vitoclose</key>
				<false/>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>923942F2-5BE0-4267-93EA-1B2B30CE3B68</string>
				<key>modifiers</key>
				<integer>524288</integer>
				<key>modifiersubtext</key>
				<string>Select Region...</string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>43F2A218-98C6-41D6-9C4E-8A84FC3F4630</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>CE892C23-EC9A-412D-902E-E20666251003</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>85AC20BC-D51E-46AC-8ABD-E0DB823D7C81</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>C0A9E5D9-BFB2-448B-8FB7-85BD6BC0B4E1</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>923942F2-5BE0-4267-93EA-1B2B30CE3B68</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>2176B3B9-B2FF-4135-9BE0-513BCA51B8E3</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>BCF9D88B-14B0-4B42-AE3C-411695BDC870</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>C0A9E5D9-BFB2-448B-8FB7-85BD6BC0B4E1</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>C0A9E5D9-BFB2-448B-8FB7-85BD6BC0B4E1</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>43F2A218-98C6-41D6-9C4E-8A84FC3F4630</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>CE892C23-EC9A-412D-902E-E20666251003</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>16039760-F173-4AB8-9C73-DA7401D5DE23</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>F8975ED8-010C-454A-ACA7-486DF520DEE8</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>43F2A218-98C6-41D6-9C4E-8A84FC3F4630</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
	</dict>
	<key>createdby</key>
	<string>sherifabdlnaby</string>
	<key>description</key>
	<string>Use granted.dev to quickly open multiple AWS Console in Browser</string>
	<key>disabled</key>
	<false/>
	<key>name</key>
	<string>AWS Console Granted</string>
	<key>objects</key>
	<array>
		<dict>
			<key>config</key>
			<dict>
				<key>alfredfiltersresults</key>
				<true/>
				<key>alfredfiltersresultsmatchmode</key>
				<integer>2</integer>
				<key>argumenttreatemptyqueryasnil</key>
				<true/>
				<key>argumenttrimmode</key>
				<integer>0</integer>
				<key>argumenttype</key>
				<integer>1</integer>
				<key>escaping</key>
				<integer>0</integer>
				<key>keyword</key>
				<string>{var:keyword}</string>
				<key>queuedelaycustom</key>
				<integer>3</integer>
				<key>queuedelayimmediatelyinitially</key>
				<true/>
				<key>queuedelaymode</key>
				<integer>0</integer>
				<key>queuemode</key>
				<integer>1</integer>
				<key>runningsubtext</key>
				<string>Loading Profiles...</string>
				<key>script</key>
				<string>set -eo pipefail

local profiles="$(aws configure list-profiles | sort)"
local profiles_max_lines=$(echo "${profiles}" | wc -l)
local i=0
set -o shwordsplit
echo '{"items": ['
for profile in ${profiles}; do
    cat &lt;&lt; EOS
{
    "uid": "${profile}",
    "title": "${profile}",
    "arg": "${profile}"
EOS
    i=$(( i+1 ))
    if [[ $i -eq $profiles_max_lines ]]; then
        echo '    }'
    else
        echo '    },'
    fi
done
echo ']}'</string>
				<key>scriptargtype</key>
				<integer>1</integer>
				<key>scriptfile</key>
				<string></string>
				<key>subtext</key>
				<string>AWS Profile To Use</string>
				<key>title</key>
				<string>Open AWS Console</string>
				<key>type</key>
				<integer>5</integer>
				<key>withspace</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.scriptfilter</string>
			<key>uid</key>
			<string>2C99F6F1-EF16-4CF1-9762-5D05A1FFAA4D</string>
			<key>version</key>
			<integer>3</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argument</key>
				<string></string>
				<key>passthroughargument</key>
				<false/>
				<key>variables</key>
				<dict>
					<key>profile</key>
					<string>{query}</string>
					<key>region</key>
					<string>{var:region}</string>
				</dict>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.argument</string>
			<key>uid</key>
			<string>BCF9D88B-14B0-4B42-AE3C-411695BDC870</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>alfredfiltersresults</key>
				<true/>
				<key>alfredfiltersresultsmatchmode</key>
				<integer>2</integer>
				<key>argumenttreatemptyqueryasnil</key>
				<true/>
				<key>argumenttrimmode</key>
				<integer>0</integer>
				<key>argumenttype</key>
				<integer>1</integer>
				<key>escaping</key>
				<integer>0</integer>
				<key>queuedelaycustom</key>
				<integer>3</integer>
				<key>queuedelayimmediatelyinitially</key>
				<true/>
				<key>queuedelaymode</key>
				<integer>0</integer>
				<key>queuemode</key>
				<integer>1</integer>
				<key>runningsubtext</key>
				<string>Loading Services...</string>
				<key>script</key>
				<string>cat services.json
</string>
				<key>scriptargtype</key>
				<integer>1</integer>
				<key>scriptfile</key>
				<string></string>
				<key>subtext</key>
				<string>Service</string>
				<key>title</key>
				<string>Select AWS Service</string>
				<key>type</key>
				<integer>5</integer>
				<key>withspace</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.scriptfilter</string>
			<key>uid</key>
			<string>C0A9E5D9-BFB2-448B-8FB7-85BD6BC0B4E1</string>
			<key>version</key>
			<integer>3</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argument</key>
				<string></string>
				<key>passthroughargument</key>
				<false/>
				<key>variables</key>
				<dict>
					<key>profile</key>
					<string>{var:profile}</string>
					<key>region</key>
					<string>{query}</string>
				</dict>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.argument</string>
			<key>uid</key>
			<string>85AC20BC-D51E-46AC-8ABD-E0DB823D7C81</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argument</key>
				<string>{var:profile},{query},{var:region}</string>
				<key>passthroughargument</key>
				<false/>
				<key>variables</key>
				<dict/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.argument</string>
			<key>uid</key>
			<string>43F2A218-98C6-41D6-9C4E-8A84FC3F4630</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>concurrently</key>
				<false/>
				<key>escaping</key>
				<integer>102</integer>
				<key>script</key>
				<string># I know it's lazy :3 


if [[ $2 == "" ]]; then
	if [[ $3 == "" ]]; then
		assume -c $1
	else
		assume -c $1 -r $3
	fi
else
	if [[ $3 == "" ]]; then
		assume -c $1 -s $2
	else
		assume -c $1 -s $2 -r $3
	fi
fi</string>
				<key>scriptargtype</key>
				<integer>1</integer>
				<key>scriptfile</key>
				<string></string>
				<key>type</key>
				<integer>5</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>16039760-F173-4AB8-9C73-DA7401D5DE23</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argument</key>
				<string></string>
				<key>passthroughargument</key>
				<false/>
				<key>variables</key>
				<dict>
					<key>profile</key>
					<string>{var:profile}</string>
					<key>region</key>
					<string>{query}</string>
				</dict>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.argument</string>
			<key>uid</key>
			<string>0D0E2E6C-8D38-41A4-941A-622234DABD2D</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>alfredfiltersresults</key>
				<true/>
				<key>alfredfiltersresultsmatchmode</key>
				<integer>2</integer>
				<key>argumenttreatemptyqueryasnil</key>
				<true/>
				<key>argumenttrimmode</key>
				<integer>0</integer>
				<key>argumenttype</key>
				<integer>1</integer>
				<key>escaping</key>
				<integer>0</integer>
				<key>queuedelaycustom</key>
				<integer>3</integer>
				<key>queuedelayimmediatelyinitially</key>
				<true/>
				<key>queuedelaymode</key>
				<integer>0</integer>
				<key>queuemode</key>
				<integer>1</integer>
				<key>runningsubtext</key>
				<string>Loading Regions...</string>
				<key>script</key>
				<string>cat regions.json
</string>
				<key>scriptargtype</key>
				<integer>1</integer>
				<key>scriptfile</key>
				<string></string>
				<key>subtext</key>
				<string>Region</string>
				<key>title</key>
				<string>Select AWS Region</string>
				<key>type</key>
				<integer>5</integer>
				<key>withspace</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.scriptfilter</string>
			<key>uid</key>
			<string>2176B3B9-B2FF-4135-9BE0-513BCA51B8E3</string>
			<key>version</key>
			<integer>3</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>delimiter</key>
				<string>,</string>
				<key>discardemptyarguments</key>
				<false/>
				<key>outputas</key>
				<integer>1</integer>
				<key>trimarguments</key>
				<true/>
				<key>variableprefix</key>
				<string>split</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.split</string>
			<key>uid</key>
			<string>CE892C23-EC9A-412D-902E-E20666251003</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argument</key>
				<string></string>
				<key>passthroughargument</key>
				<false/>
				<key>variables</key>
				<dict>
					<key>profile</key>
					<string>{query}</string>
				</dict>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.argument</string>
			<key>uid</key>
			<string>923942F2-5BE0-4267-93EA-1B2B30CE3B68</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argument</key>
				<string></string>
				<key>passthroughargument</key>
				<false/>
				<key>variables</key>
				<dict>
					<key>profile</key>
					<string>{var:profile}</string>
					<key>region</key>
					<string>{query}</string>
				</dict>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.argument</string>
			<key>uid</key>
			<string>F8975ED8-010C-454A-ACA7-486DF520DEE8</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
	</array>
	<key>readme</key>
	<string>Open the AWS Console via Granted.dev Tool
- Use ⌘ to open to Console without selecting a service.
- Use ⎇ to open to a specific region (By default granted uses Profile's region).

This requires `granted` tool to be installed, go to granted.dev 
Or:
- &gt; brew tap common-fate/granted
- &gt; brew install granted</string>
	<key>uidata</key>
	<dict>
		<key>0D0E2E6C-8D38-41A4-941A-622234DABD2D</key>
		<dict>
			<key>xpos</key>
			<real>505</real>
			<key>ypos</key>
			<real>310</real>
		</dict>
		<key>16039760-F173-4AB8-9C73-DA7401D5DE23</key>
		<dict>
			<key>xpos</key>
			<real>975</real>
			<key>ypos</key>
			<real>290</real>
		</dict>
		<key>2176B3B9-B2FF-4135-9BE0-513BCA51B8E3</key>
		<dict>
			<key>xpos</key>
			<real>285</real>
			<key>ypos</key>
			<real>315</real>
		</dict>
		<key>2C99F6F1-EF16-4CF1-9762-5D05A1FFAA4D</key>
		<dict>
			<key>xpos</key>
			<real>45</real>
			<key>ypos</key>
			<real>20</real>
		</dict>
		<key>43F2A218-98C6-41D6-9C4E-8A84FC3F4630</key>
		<dict>
			<key>xpos</key>
			<real>780</real>
			<key>ypos</key>
			<real>260</real>
		</dict>
		<key>85AC20BC-D51E-46AC-8ABD-E0DB823D7C81</key>
		<dict>
			<key>xpos</key>
			<real>510</real>
			<key>ypos</key>
			<real>120</real>
		</dict>
		<key>923942F2-5BE0-4267-93EA-1B2B30CE3B68</key>
		<dict>
			<key>xpos</key>
			<real>200</real>
			<key>ypos</key>
			<real>345</real>
		</dict>
		<key>BCF9D88B-14B0-4B42-AE3C-411695BDC870</key>
		<dict>
			<key>xpos</key>
			<real>510</real>
			<key>ypos</key>
			<real>55</real>
		</dict>
		<key>C0A9E5D9-BFB2-448B-8FB7-85BD6BC0B4E1</key>
		<dict>
			<key>xpos</key>
			<real>625</real>
			<key>ypos</key>
			<real>90</real>
		</dict>
		<key>CE892C23-EC9A-412D-902E-E20666251003</key>
		<dict>
			<key>xpos</key>
			<real>890</real>
			<key>ypos</key>
			<real>320</real>
		</dict>
		<key>F8975ED8-010C-454A-ACA7-486DF520DEE8</key>
		<dict>
			<key>xpos</key>
			<real>555</real>
			<key>ypos</key>
			<real>420</real>
		</dict>
	</dict>
	<key>userconfigurationconfig</key>
	<array>
		<dict>
			<key>config</key>
			<dict>
				<key>default</key>
				<string>aws</string>
				<key>placeholder</key>
				<string>aws</string>
				<key>required</key>
				<true/>
				<key>trim</key>
				<true/>
			</dict>
			<key>description</key>
			<string>Keyword used to expand the list of AWS Profiles and start the workflow</string>
			<key>label</key>
			<string>Keyword</string>
			<key>type</key>
			<string>textfield</string>
			<key>variable</key>
			<string>keyword</string>
		</dict>
	</array>
	<key>version</key>
	<string>1.3.37</string>
	<key>webaddress</key>
	<string>https://github.com/sherifabdlnaby/alfred-aws-granted</string>
</dict>
</plist>
